<meta charset="UTF-8">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta name="screen-orientation" content="portrait">
<script>var recalc=function(){var docEl=document.documentElement;var clientWidth=docEl.clientWidth||docEl.offsetWidth;if(!clientWidth){return}if(clientWidth > 750)clientWidth=750;docEl.style.fontSize=((clientWidth*10)/75).toFixed(2)+"px";window.onload = function(){docEl.style.display="none";docEl.clientWidth;docEl.style.display=""};};recalc();if(window.addEventListener){window.addEventListener("resize",function(){recalc()},false)};</script>
<title>帮助与反馈</title>
